.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  /* width: 600px; */
  /* height: auto; */
  transition: background-color 0.3s ease;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px white;
  border-radius: 4px;
  max-width: 50%;
  width: auto;
  width: 300px;
}

hr {
  width: 100%;
  border: solid 2px white;
  border-radius: 50%;
}

.InputContainer > h3 {
  text-align: center;
}

input {
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}
